@model Car

@{
    ViewData["Title"] = "Araba Ekle";
    Layout = "../Shared/_LayoutCarForm.cshtml";
}

<div class="row" style="text-align: center">
    <h1>Ekle</h1>

    <h4>Car</h4>
    <hr />    
    <div class="col-md-4">
        <form method="post">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <div class="form-group">
                <label for="StartDate" class="control-label">StartDate</label>
                <input asp-for="StartDate" class="form-control"  placeholder="dd.mm.yyyy etc." />
                @* <span asp-validation-for="StartDate" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label for="FinishDate" class="control-label">FinishDate</label>
                <input asp-for="FinishDate" class="form-control" placeholder="dd.mm.yyyy etc." />
                @* <span asp-validation-for="FinishDate" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label for="ChassisNo" class="control-label">ChassisNo</label>
                <input asp-for="ChassisNo" class="form-control" placeholder="max 12 character" />
                @* <span asp-validation-for="ChassisNo" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label for="Plate" class="control-label">Plate</label>
                <input type="text" class="form-control" placeholder="max 10 character" />
                @* <span asp-validation-for="Plate" class="text-danger"></span> *@
            </div>
            <div class="row form-group">
                <div class="col col-md-12">
                    <label for="select" class=" form-control-label">Type</label>
                </div>
                <div class="col-12 col-md-12">
                    <select name="select" id="Type" class="form-control">
                        <option value="0">Please select</option>
                        <option value="1">Economic</option>
                        <option value="2">Standard</option>
                        <option value="3">Premium</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="DatePrice" class="control-label">DatePrice</label>
                <input type="number" class="form-control" placeholder="248 etc." />
                @* <span asp-validation-for="DatePrice" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label for="DepartmentCity" >DepartmentCity</label>
                <input type="text" class="form-control" placeholder="Mugla etc." />
                @* <span asp-validation-for="DepartmentCity" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Index2">Back to List</a>
</div>
