@* Araç yok. *@
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">HATA!</h4>
    <p>
        Araç verilerini çekemiyoruz, lütfen yetkili kişiyle irtibata geçiniz!
    </p>
    <hr>
    <p class="mb-0">HATA KODU: 10290021 You haven't car database.</p>
</div>