@model TableCategory

<li>
    <a asp-controller="Home" asp-action="Index">@Model.Name</a>
</li>
<li>
    <a asp-controller="Home" asp-action="Index2">@Model.Name</a>
</li>
<li>
    <a asp-controller="Admin" asp-action="Details">@Model.Name</a>
</li>